.scroll-container {
  height: 500vh;
  position: relative;
}

.MarginTop {
  margin-top: 20px;
}

#scroll-video {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 70px);
  object-fit: cover;
  object-position: center 15%;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 50vh;
  font-family: sans-serif;
}
